* { box-sizing: border-box; }

$cols: 12;
$gutter: 20px;

// testing
// $gray: #AAAAAA;
// $silver: #DDDDDD;

// columns
@for $i from 1 through $cols {
  .col-#{$i} {
    float: left;
    $width: ($i / $cols);
    width: percentage($width);
    padding: $gutter;

    // testing
    // border: solid 1px $gray;
    // background: $silver;
    //
  }
}

// container
.container {
  width: 70%;
  margin: 0 auto;
}

// rows
.row {
  margin-top: $gutter;
  margin-bottom: $gutter;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &-escaped {
    margin: $gutter $gutter*-1 $gutter*-1 $gutter*-1;
  }
}

// sections
section {
  margin: $gutter 0;

  // testing
  // border: solid 1px $gray;
}
