@import "_colors.scss";
@import "_borders.scss";

* {
  font-family: sans-serif;
}

section {
  padding: 20px 40px;
  box-shadow: 0 5px 10px $silver;
}

.img{
  &-med { width: 120px; }
}

@include make-borders($silver);
