@import "normalize.css";
@import "_colors.scss";
@import "_images.scss";
@import "_simplegrid.scss";
@import "_forms.scss";
@import "_buttons.scss";


// text alignment and weight
.text {
  &-right { text-align: right; }
  &-left { text-align: left; }
  &-center { text-align: center; }

  &-bold { font-weight: bold; }
}
