{% extends 'layout.html' %}

{% block content %}


<!--
  container - outside
    section (optional)
      rows
        columns or more rows

  improvements:
    create headers for section replacing col-12
 -->


<div class="container">
  <section>
    <div class="row">
      <div class="col-12 text-bold">Transactions</div>
    </div>
    <div class="row">
      <div class="col-10">ATM Withdraw</div>
      <div class="col-2 text-right">-$20.00</div>
    </div>
    <div class="row">
      <div class="col-10">Xian Famous Foods</div>
      <div class="col-2 text-right">-$6.15</div>
    </div>
    <div class="row">
      <div class="col-10">PayPal</div>
      <div class="col-2 text-right">-$200.00</div>
    </div>
    <div class="row">
      <div class="col-6">
        <a class="button-blue" href="">All Transactions</a>
      </div>
      <div class="col-6">
        <a class="button-blue" href="">Uncategorized</a>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-12 text-bold">Accounts</div>
    </div>
    <div class="row">
      <div class="col-6">Cash</div>
      <div class="col-6 text-right">$500</div>
    </div>
    <div class="row">
      <div class="col-6">Credit Debt</div>
      <div class="col-6 text-right">-$50</div>
    </div>
    <div class="row">
      <div class="col-6">Investments</div>
      <div class="col-6 text-right">$0</div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-12 text-bold">Your portfolio</div>
    </div>
    <div class="row">
      <div class="col-4">
        Port 1
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>

      <div class="col-4">
        Port 2
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>

      <div class="col-4">
        Port 3
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>

      <div class="col-4">
        Port 4
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>

      <div class="col-4">
        Port 5
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>

      <div class="col-4">
        Port 6
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>
  </section>
</div>

{% endblock %}
