{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="mint.css">


<!--
  container - outside
    section (optional)
      rows
        columns or more rows

  improvements:
    create headers for section replacing col-12
 -->


<div class="container">
  <section class="border-all">
    <div class="row border-btm border-bold">
      <div class="col-12 text-bold">Transactions</div>
    </div>
    <div class="row border-btm">
      <div class="col-10">ATM Withdraw</div>
      <div class="col-2 text-right">-$20.00</div>
    </div>
    <div class="row border-btm">
      <div class="col-10">Xian Famous Foods</div>
      <div class="col-2 text-right">-$6.15</div>
    </div>
    <div class="row border-btm">
      <div class="col-10">PayPal</div>
      <div class="col-2 text-right">-$200.00</div>
    </div>
    <div class="row">
      <div class="col-6">
        <a class="button-orange" href="">All Transactions</a>
      </div>
      <div class="col-6">
        <a class="button-orange" href="">Uncategorized</a>
      </div>
    </div>
  </section>

  <section class="border-all">
    <div class="row border-btm border-bold">
      <div class="col-12 text-bold">Accounts</div>
    </div>
    <div class="row border-btm">
      <div class="col-6">Cash</div>
      <div class="col-6 text-right">$500</div>
    </div>
    <div class="row border-btm">
      <div class="col-6">Credit Debt</div>
      <div class="col-6 text-right">-$50</div>
    </div>
    <div class="row">
      <div class="col-6">Investments</div>
      <div class="col-6 text-right">$0</div>
    </div>
  </section>

  <section class="border-all">
    <div class="row border-btm border-bold">
      <div class="col-12 text-bold">Your portfolio</div>
    </div>
    <div class="row">
      <div class="col-4">
        Port 1
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>

      <div class="col-4">
        Port 2
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>

      <div class="col-4">
        Port 3
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>

      <div class="col-4">
        Port 4
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>

      <div class="col-4">
        Port 5
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>

      <div class="col-4">
        Port 6
        <img class="thumbnail" src="http://via.placeholder.com/350x150">
      </div>
    </div>
  </section>

  <section class="border-all">
    <div class="row">
      <div class="col-12 text-center text-bold  border-btm border-bold">
        Column test!
      </div>
      <div class="col-6 text-center border-right">
        <img class="img-med" src="dash.png" alt="">
        <p>Check your credit score!</p>
        <a class="button-green" href="">Click here</a>
      </div>
      <div class="col-6 text-center">
        <img class="img-med" src="dollar.png" alt="">
        <p>Grow your dollas!</p>
        <a class="button-green" href="">Invest</a>
      </div>
    </div>
  </section>

{% endblock %}
